.yellowcircle{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 208, 0);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 10;
    box-shadow: 0 0 16px 4px rgb(255, 204, 0);
    animation: sunColor 8s ease-in-out infinite;
}

@keyframes sunColor{
    0%, 100%{
        background-color: rgb(255, 208, 0);
    }
    50%{
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 20px 5px rgb(255, 255, 255);
    }
}

body{
    background-image: url('https://wallpapercave.com/wp/wp9436943.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.orbit-container{
    position: relative;
    width: 1200px;
    height: 1200px;
}

.orbit{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform-origin: 50% 50%;
    animation: revolution 20s infinite linear;
}

.orbit img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    right: -25px;
    top: 50%;
    margin-top: -25px;
    animation: rotation 10s infinite linear;
}

@keyframes revolution{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotation{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.mercury-orbit{
    width: 220px;
    height: 220px;
    margin-left: -110px;
    margin-top: -110px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    animation: revolution 8s infinite linear;
}

.mercury-orbit img{
    width: 30px;
    height: 30px;
    right: -15px;
    margin-top: -15px;
    animation: rotation 6s infinite linear;
}

.venus-orbit{
    width: 300px;
    height: 300px;
    margin-left: -150px;
    margin-top: -150px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    animation: revolution 12s infinite linear;
}

.venus-orbit img{
    width: 35px;
    height: 35px;
    right: -17.5px;
    margin-top: -17.5px;
    animation: rotation 8s infinite linear;
}

.earth-orbit{
    width: 420px;
    height: 420px;
    margin-left: -210px;
    margin-top: -210px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    animation: revolution 16s infinite linear;
}

.earth-orbit img{
    width: 40px;
    height: 40px;
    right: -20px;
    margin-top: -20px;
    animation: rotation 10s infinite linear;
}

.mars-orbit{
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    animation: revolution 20s infinite linear;
}

.mars-orbit img{
    width: 35px;
    height: 35px;
    right: -17.5px;
    margin-top: -17.5px;
    animation: rotation 12s infinite linear;
}

.jupiter-orbit{
    width: 600px;
    height: 600px;
    margin-left: -300px;
    margin-top: -300px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    animation: revolution 28s infinite linear;
}

.jupiter-orbit img{
    width: 50px;
    height: 50px;
    right: -25px;
    margin-top: -25px;
    animation: rotation 8s infinite linear;
}

.saturn-orbit{
    width: 700px;
    height: 700px;
    margin-left: -350px;
    margin-top: -350px;
    border: 1px solid rgba(255, 255, 255, 0.35);
    animation: revolution 36s infinite linear;
}

.saturn-orbit img{
    width: 48px;
    height: 48px;
    right: -24px;
    margin-top: -24px;
    animation: rotation 14s infinite linear;
}

.uranus-orbit{
    width: 800px;
    height: 800px;
    margin-left: -400px;
    margin-top: -400px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    animation: revolution 44s infinite linear;
}

.uranus-orbit img{
    width: 42px;
    height: 42px;
    right: -21px;
    margin-top: -21px;
    animation: rotation 16s infinite linear;
}

.neptune-orbit{
    width: 900px;
    height: 900px;
    margin-left: -450px;
    margin-top: -450px;
    border: 1px solid rgba(255, 255, 255, 0.45);
    animation: revolution 52s infinite linear;
}

.neptune-orbit img{
    width: 40px;
    height: 40px;
    right: -20px;
    margin-top: -20px;
    animation: rotation 18s infinite linear;
}